@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Pacifico&family=Poppins:wght@500;600&display=swap');

body
{
  background-color: rgba(30,41,59,255);
}
html
{
  scroll-behavior: smooth;
}
.home video
{
  display: block;
  object-fit: fill;
  width: 100%;
z-index: -1;
position: absolute;
height: 100%;
}
header nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}
header nav h3
{
  font-size: 30px;
  font-weight: 600;
  margin-top: 4%;
  margin-left: 4%;
}
header nav ul
{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  margin-right: 25%;
  font-size: 23px;
}
header nav ul li
{
  margin-left: 15%;
   font-weight: 150;
}
header nav ul .navBtn
{
  color: rgba(255, 255, 255, 0.5);
}
header nav ul .navBtn:hover
{
color: #FFFFFF;
transition: .5s;
}
.home .name
{
  position: relative;
  color: white;
  margin-left: 4%;
  margin-top: 5%;
}
.home .name h1
{
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}
.home .name h2
{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
.home .name h1 span
{
  color: #7477FF;
}
.home .name p
{
  margin-top: 3%;
  color: #CCCCCC;
}
.hireBtn
{
  width: 190px;
  height: 55px;
  background-color: #5c5efd;
  font-size: 22px;
  border-radius: 8px;
  margin-top: 5%;
  font-family: 'popins',sans-serif;
  font-weight: 300;
}

/* About ME Page */
.about
{
  background-color: rgba(30,41,59,255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.seperator
{
  margin-top: 10%;
}
.about .content
{
  margin-left: 4%;
  display: block;
  box-sizing: border-box;
  width: 60%;
  color: #FFFFFF;
}
.about .content h1
{
font-family: 'popins',sans-serif;
font-size: 50px;
font-weight: 550;
text-decoration: underline #5c5efd;
}
.about .content p
{
  margin-top: 3%;
  font-size: 20px;
}
.about .content .aboutHeading2
{
  font-weight: bold;
}
.tech
{
  display: flex;
}
.tech p
{
  width:30%
}
.about .pic
{
  width: 30%;
}

/* PROJECTS */
.bgcolor
{
  background-color: rgba(15,23,42,255);
}
.projects
{
  color: #FFFFFF;
}
.projects .content
{
  margin-left: 4%;
  margin-top: 3.5%;
}
.projects .content h1
{
  font-family: 'popins',sans-serif;
font-size: 50px;
font-weight: 550;
text-decoration: underline #5c5efd;
}
.projects .content .projPics
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5.3%;
}
.projects .content .projPics img
{
  width: 90%;
  height: 230px;
}

/* BLOGS */
.blogs
{
margin-top: 3.5%;
}
.blogs .content
{
  margin-left: 4%;
  color: #FFFFFF;
}
.blogs .content h1
{
  font-family: 'popins',sans-serif;
font-size: 50px;
font-weight: 550;
text-decoration: underline #5c5efd;
}
.blogs .content p
{
  margin-top: 3%;
  width: 50%;
  font-size: 20px;
}
.blogImages
{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blogImages div
{
  margin-left: 4%;
}
.blogImages img
{
  width: 90%;
}
.blogImages .tagBtn
{
  margin-top: 3%;
}
.blogImages .tagBtn button
{
  background-color: #5c5efd;
  color: #FFFFFF;
  width: 10%;
  height: 40px;
  border-radius: 15%;
  margin-left: -4%;
}
.blogImages .tagBtn .tagBtn2
{
  margin-left: 2%;
} 
.blogImages p
{
  margin-top: 3%;
  width: 90%;
  font-size: 20px;
  color: #FFFFFF;
}
.readBtn
{
  width: 160px;
  height: 45px;
  background-color: #5c5efd;
  font-size: 22px;
  border-radius: 6px;
  margin-top: 2.5%;
  font-family: 'popins',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  margin-left: 4%;
  margin-bottom: 4%;
}

/* CONTACT */
.contact
{
  margin-top: 4%;
}
.contact .content
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  flex-direction: column;
}
.contact .content h1
{
  font-family: 'popins',sans-serif;
  font-size: 50px;
  font-weight: 550;
  text-decoration: underline #5c5efd;
}
.contact .content p
{
  margin-top: 3%;
  font-size: 20px;
  width: 60%;
  margin-bottom: 3%;
}
.contactInfo
{
  display: flex;
  flex-direction: column;
}
.contactDetail
{
  display: flex;
}
.contactDetail .head
{
  font-weight: bold;
}

/* Footer */
footer
{
  background-color: rgba(15,23,42,255);
  display: flex;
  align-items: center;
  justify-content:space-around;
  color: #FFFFFF;
}
footer div
{
  display: flex;
}
@media screen and (max-width: 1040px) 
{
  .home video
  {
    height: 90%;
  }
  header nav ul
  {
    margin-right: 20%;
  }
  header nav ul li
  {
  margin-left: 10%;
  }
  .about .content h1
{
font-size: 40px;
font-weight: 550;
}
.about .content p
{
  font-size: 18px;
}
.about .pic
{
  width: 28%;
  margin-right: 4%;
}
.projects .content h1
{
  font-size: 40px;
  font-weight: 550;
}
.projects .content .projPics img
{
  width: 95%;
  height: 200px;
}
.blogs .content h1
{
  font-size: 40px;
  font-weight: 550;
}
.blogs .content p
{
  width: 70%;
  font-size: 17px;
}
.blogImages img
{
  width: 95%;
  height: 280px;
}
.blogImages p
{
  font-size: 18px;
}
.contact .content h1
{
  font-size: 40px;
  font-weight: 550;
}
.contact .content p
{
  font-size: 17px;
  width: 70%;
}
}
@media screen and (max-width: 870px) 
{
  .home video
  {
    height: 80%;
  }
  header nav ul
  {
    margin-right: 17%;
  }
  header nav ul li
  {
  margin-left: 7%;
  }
  .home .name h1
  {
    font-size: 50px;
  }
  .home .name h2
  {
    font-size: 45px;
  }
  .hireBtn
{
  width: 170px;
  height: 45px;
  font-size: 20px;
  margin-top: 5%;
  font-weight: 280;
}
.about
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .content
{
  width: 95%;
}
  .about .content h1
{
  display: flex;
  justify-content: center;
}
.about .content .aboutHeading2
{
 display: flex;
 justify-content: center;
}
.tech p
{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50%
}
.about .pic
{
  display: none;
}
.projects .content h1
{
  display: flex;
  justify-content: center;
}
.projects .content .projPics
{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.projects .content .projPics img
{
  margin-top: 10%;
  width: 100%;
  height: 300px;
}
.blogs .content
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blogImages
{
  display: flex;
  flex-direction: column;
}
.blogSection1
{
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogSection2
{
  margin-top: 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogImages img
{
  width: 90%;
  height: 350px;
}
.tagBtn
{
display: none;
}
.blogReadBtn
{
  display: flex;
  justify-content: center;
}
.readBtn
{
  font-size: 19px;
  margin-top: 5%;
  margin-bottom: 7%;
}
.contact
{
margin-bottom: 5%;
}
}
@media screen and (max-width:760px)
{
  header nav ul
  {
    display: none;
  }
  .home video
  {
  height: 65%;
  }
  .home .name
{
  margin-top: 3%;
}
  .home .name h1
{
  font-size: 45px;
}
.home .name h2
{
  font-size: 40px;
}
.hireBtn
{
  width: 160px;
  height: 50px;
  font-size: 19px;
}
.projects .content .projPics img
{
  width: 90%;
  height: 300px;
}
.blogImages img
{
  width: 80%;
  height: 360px;
}
.blogImages p
{
  width: 80%;
}
}
@media screen and (max-width:650px)
{
  .home video
{
 display: none;  
}
.home
{
  background-color: rgba(15,23,42,255);
}
.home .name
{
  margin-top: 1.5%;
}
header nav h3
{
  font-size: 28px;
}
.hireBtn
{
 margin-bottom: 5%;
}
.projects .content .projPics
{
  margin-left: 8%;
}
.projects .content .projPics img
{
  width: 90%;
  height: 300px;
}
.blogImages img
{
  width: 80%;
  height: 280px;
}
.readBtn
{
  width: 140px;
}
}
@media screen and (max-width:425px)
{
  .hireBtn
  {
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
  }
  .about .content p
{
  width: 95%;
  font-size: 18px;
  margin-left: 1%;
}
.projects .content .projPics img
{
  height: 250px;
}
.blogs .content p
{
  width: 90%;
  font-size: 18px;
}
.blogImages img
{
  height: 250px;
}
.readBtn
{
  width: 120px;
  font-size: 18px;
}
.contact .content p
{
  font-size: 17px;
  width: 90%;
}
.contactInfo
{
  width: 80%;
}
.copyright
{
  display: flex;
  align-items: center;
}
footer .copyright p
{
  font-size: 13px;
}
}
@media screen and (max-width:375px) 
{
  .home .name h1
  {
    font-size: 30px;
  }
  .home .name h2
  {
    font-size: 25px;
  }
  .home .name p
{
 font-size: 13px;
}
.hireBtn
{
  width: 110px;
  height: 35px;
  background-color: #5c5efd;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 5%;
  font-family: 'popins',sans-serif;
  font-weight: 650;
}
.about .content .tech p
{
  justify-content: start;
font-size: 15px;
}
}